name: Trello API Automated Tests

on: [push, pull_request]

jobs:
  run-newman-tests:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Install Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '18'

    - name: Install Newman & Reporter
      run: |
        npm install -g newman
        npm install -g newman-reporter-htmlextra

    - name: Run Trello API Tests
      run: |
        mkdir -p testResults
        newman run "Trello API.postman_collection.json" \
        --env-var "trelloKey=${{ secrets.TRELLO_KEY }}" \
        --env-var "trelloToken=${{ secrets.TRELLO_TOKEN }}" \
        --env-var "BaseURL=https://api.trello.com/1/" \
        --reporters cli,htmlextra \
        --reporter-htmlextra-export testResults/report.html

    - name: Upload Test Report
      uses: actions/upload-artifact@v4
      if: always()
      with:
        name: HTML-Test-Report
        path: testResults/report.html
